body{
    text-align: center;
  }
button{color: black;
  background-color: aqua;}
.button{
  cursor: pointer;
  }
.button:hover{
  background-color: green;
  transform: scale(1.2);
}
a{
    text-decoration: none;
}